body {
  font-family: sans-serif;
}

.field-errors {
  margin: 0.3rem 0;
  padding: 0;
}

.field-errors > li {
  list-style: none;
  color: red;
  padding: 0;
  margin: 0;
}

label {
  font-weight: bold;
}

input:not([type]),
input[type="text"],
input[type="number"] {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.3rem;
  display: block;
}

input:read-only {
  background: #eee;
}

textarea {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.3rem;
  display: block;
}
